.CardList {
  margin: 30px;
}

.CardList-heading {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 30px;
  color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.CardList-body {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}

